/* style.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 100%;
  color: #444;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
header, section, footer{
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #ccc;
}
#main_header{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
#main_header h1{
  position: relative;
  left: 30px;
  top: 25px;
}
#user-nav{
  position: absolute;
  top: 10px;
  right: 20px;  
}
#user-nav li{
  display: inline-block;
}
#user-nav li a{
  display: block;
  padding: 0 10px;
  font-size: 14px;
}

#gnb{
  position: absolute;
  right: 20px;
  top: 40px;
  /* border: 1px solid red; */
}
#gnb li{
  float: left;
}
#gnb li a{
  padding: 0 40px;
  color: #444;
  font-weight: bold;
  font-size: 1.2em;
}
#gnb li:last-child a{
  padding-right: 10px;
}

#content .main-visual{
  width: auto;
  height: 600px;
  background: url('http://placeimg.com/1200/500/bg');
  background-size: cover;
}

/* 창업문의 - 4칼럼 */
#content .counsel-menu ul{
  display: flex;
}
#content .counsel-menu ul li{
  flex: 1;
  /* border: 1px solid red; */
  text-align: center;
  padding: 40px 20px;
}
#content .counsel-menu ul li:first-child{
  background: url(../images/call_help.png);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: right 40px;
  text-align: left;

}
#content .counsel-menu ul li:first-child b{
  font-size: 2.4em;
  color: green;
}
#content .counsel-menu ul i{
  font-size: 3.2em;
  color: #444;
}
#content .counsel-menu li h3{
  margin-top: 20px;
}

/* 소개, 매장찾기(2칼럼) */
#content .about{
  display: flex;
  margin-top: 60px;
}
#content .about .col2{
  /* flex: 1; */
  width: calc(50% - 10px);
  border: 1px solid red;
  overflow: hidden;
}
#content .about .col2:first-child{
  margin-right: 20px;
}
#content .about h2{ 
  color: green;
  margin-bottom: 10px;
}
#content .about .col2 > img{
  display: block;
}
#content .about .col2 > div{
  padding: 20px;
  background: #efefef;
}
#content .about .col2 > div > p{
  font-size: 1.4em;
  font-weight: bold;
}

/* why 풀 배경 배너 섹션 */
#content .why{
  height: 600px;
  background: #ccc;
  background: url('../images/why_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
}